name: Android CI

on: [push, pull_request]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Build android app
      run: ./gradlew assembleDebug
    - name: Run Unit Tests
      run: ./gradlew test
    - name: Build iOS shared code
      run: ./gradlew :common:compileKotlinIosSimulatorArm64

